@import "navbar";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

img {
    opacity: 0.85;
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
}

.btnOrder {
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: $primary;
    height: 60px;
    width: 200px;
    border-color: $dark;
    border-width: 3px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;

    &:hover {
        color: $light;
        border-color: $light;
        transition: all 0.3s ease;
    }
}

.home {
    h1 {
        position: absolute;
        top: 30%;
        left: 20%;
        display: table-cell;
        font-size: 60px;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        text-align: center;
        font-weight: bold;
        color: $dark;
        text-decoration: underline;
        font-style: italic;
    }
}

.store {
    margin-bottom: 0px;
    min-height: fit-content;
    overflow: hidden;
    width: auto;
    background-color: $primary;
    padding: 0 0 80px 0;

    h1 {
        color: $dark;
        font-size: 50px;
        margin-top: 50px;
        text-align: center;
    }

    &_items {
        top: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0px 300px;
        z-index: 70;
        position: relative;

        &_btn {
            background-color: $dark;
            font-size: 20px;
            border-color: $dark;
            border-width: 1px;
            border-radius: 8px;
            height: 40px;
            padding: 0 15px 0 15px;
            width: auto;
            color: $primary;

            &:hover {
                color: $light;
                background-color: $secondary;
                transition: all 0.3s ease;
            }
        }
    }

    &_images {
        background-color: $dark;
        margin-top: 100px;
        margin-left: 115px;
        margin-right: 0px;
        float: left;
        height: 500pxs;
        width: 320px;
        padding: 5px;
        border-radius: 8px;
        text-align: center;

        img {
            width: 300px;
            height: 400px;
            border-radius: 8px;
        }

        &_desc {
            width: 300px;
            height: 60px;
            border: 2px solid $dark;
            border-radius: 8px;
            padding: 10px;
            background: $primary;
            margin: auto;

            p {
                width: auto;
                background-color: $primary;
                color: $dark;
            }

            .btnCartPlus {
                border: none;
                background-color: $primary;
                margin-bottom: 5px;
                margin-left: 5px;
                color: $dark;

                &:hover {
                    color: $light;
                }
            }
        }
    }
}

.about {
    margin-top: 3px;
    min-height: fit-content;
    overflow: hidden;
    width: auto;
    background-color: $dark;

    h1 {
        position: relative;
        color: $light;
        font-size: 50px;
        margin-top: 50px;
        text-align: center;
    }

    &_staff {
        margin: 50px 0 0px 0;
        min-height: fit-content;
        overflow: hidden;
        width: auto;
        background-color: $dark;
        display: flex;
        justify-content: space-between;
        padding: 0 0 30px 0;

        .boxStaff {
            position: relative;
            max-height: 700px;
            max-width: 250px;
            margin: 20px 100px 50px 100px;
            text-align: center;
            border: 2px solid $light;
            border-radius: 8px;

            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                margin-top: 20px;
            }

            h6 {
                height: 30px;
                margin: 10px;
                color: $light;
                font-size: 25px;
            }

            p {
                color: $light;
                margin: 10px;
            }
        }
    }
}
